:root {
  --ion-color-primary: #7E8B24;;
  --ion-toolbar-background: #7E8B24; /* Toolbar and header background */
  --ion-tab-bar-background: #ffffffbb; /* Tab bar background */
  --ion-text-color: #3a3535; /* General text color for better contrast on dark backgrounds */
}

ion-content {
  --background: url('/image/background.jpg') 0 0/cover no-repeat;
  color: var(--ion-text-color);
  font-family: 'Helvetica Neue', sans-serif; /* Современный и читаемый шрифт */
}

ion-header {
  background-color: #f8f8f8; /* Светло-серый фон для заголовка */
}

ion-button {
  font-weight: bold;
  background-color: #4CAF50; /* Зеленый фон для кнопок */
  color: white;
}

ion-button:hover {
  background-color: #45a049; /* Темно-зеленый фон при наведении */
}

.recipe-text {
  font-size: 1.0em; /* Уменьшенный размер шрифта для текста рецептов */
}

.small-image {
  border-radius: 8px; /* Скругление углов изображений */
}

ion-card {
  background: rgba(240, 243, 240, 0.801); /* Белый фон с прозрачностью 80% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Слегка видимая тень */
  border-radius: 25px; /* Скругленные углы для более мягкого вида */
}

ion-img {
  max-height: 100px; /* Ограничение высоты изображений */
  width: auto;
  margin-bottom: 10px; /* Отступ снизу изображения */
}

ion-card-content {
  font-size: 0.3rem; /* Уменьшение размера шрифта для контента */
}

/* Adjust the ion-title to ensure it centers well in all situations */
ion-title {
  text-align: center;
  flex: 1; /* Ensures it takes up full space for centering */
}

/* If using a specific class or id for the title adjust here */
.title {
  font-size: 1.2em; /* Larger font size for visibility */
  color: #ff0000; /* Maroon color for thematic consistency */
}